<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Packing.Mudblazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home"></i> &nbsp; &nbsp; Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="solicitudes/indice">
                <i class="fas fa-file-invoice"></i> &nbsp; &nbsp; Pedidos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="empresas">
                <span><span class="far fa-building"></span></span>&nbsp; &nbsp; Empresas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="productos/indice">
                <i class="fas fa-store-alt"></i> &nbsp; &nbsp; Productos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reporteria/indice">
                <i class="fas fa-table"></i>&nbsp; &nbsp; Reportes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="solicitudes/emitidas">
                <i class="fas fa-tasks"></i>&nbsp; &nbsp; Mis Pedidos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="perfil/datos">
                <i class="far fa-id-card"></i>&nbsp; &nbsp; Mis datos
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
