@page "/pedidos/nuevo"
@inject HttpClient Cliente
@inject NavigationManager Navigation

<h3 class="m-3"><i class="fas fa-cart-plus"></i>&nbsp; Nuevo pedido</h3>
<MudDivider />
<div class="container-fluid">
    <div class="row m-1">

    </div>
    <MudDivider></MudDivider>
    <div class="row mt-2 mb-2">
        <div class="col-md-6 d-flex justify-content-center">
            <MudFab Icon="@Icons.Material.Filled.Navigation" Label="Volver atrás" Size="Size.Small" OnClick="@VolverAtras"/>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <button class="btn btn-outline-success" type="submit">Guardar</Button>
        </div>
    </div>
</div>

@code {

    protected void AgregarPedido()
    {
        //TODO AQUI AGREGAR A LA LIST BINDEADA A LA TABLA AVER SI AGREGA
    }

    protected void VolverAtras()
    {
        Navigation.NavigateTo("/pedidos/indice");
    }

}
